# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# YOLO downloads
runs/

# Large videos
videos/

# Jupyter
.ipynb_checkpoints/